.vscode/
workspace
.idea/
# build output
build/bin

# genesis chain folder
chain

# build output for rust simulators files
simulators/**/Cargo.lock
simulators/**/target

taiko/.env
taiko/l1contract_txs.txt

hivesim-rs/Cargo.lock
hivesim-rs/target
