.vscode/
workspace
.idea/
# build output
build/bin

# genesis chain folder
chain

# ignore taiko-mono repo
simulators/taiko/taiko-mono

# build output for rust simulators files
simulators/**/Cargo.lock
simulators/**/target
