.vscode/
workspace
.idea/
# build output
build/bin

# genesis chain folder
chain

# build output for rust simulators files
simulators/**/Cargo.lock
simulators/**/target

hivesim-rs/Cargo.lock
hivesim-rs/target

# ignore genesis ssz file
simulators/taiko2/genesis.ssz