[submodule "aiko/taiko-mono"]
	path = taiko/taiko-mono
	url = git@github.com:taikoxyz/taiko-mono.git
[submodule "taiko/taiko-mono"]
	path = taiko/taiko-mono
	url = git@github.com:taikoxyz/taiko-mono.git
